#banner {
	background: #9c9;
	padding: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
	min-height: 60px;

	img {
		float: left;
	}
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: #141;

	#main {
		margin-left: 17em;
		padding: 1em;
		background: white;
	}

	#side {
		float: left;
		padding: 1em 2em;
		width: 13em;
		background: #141;

		form, div {
			display: inline;
		}

		input {
			font-size: small;
		}

		#cart {
			font-size: smaller;
			color: white;

			table {
				border-top: 1px dotted #595;
				border-bottom: 1px dotted #595;
				margin-bottom: 10px;
			}
		}

		ul {
			padding: 0;

			li {
				list-style: none;

				a {
					color: #bfb;
					font-size: small;
				}
			}
		}
	}
}

.carts, #side #cart {
	.cart_title {
		font: 120% bold;
	}

	.item_price, .total_line {
		text-align: right;
	}

	.total_line .total_cell {
		font-weight: bold;
		border-top: 1px solid #595;
	}
}

.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 60px;
		vertical-align: top;
	}

	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #f8b0f8;
	}
}

.store {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}

	/* an entry in the store catalog */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;
		margin-bottom: 1em;

		img {
			width: 80px;
			margin-right: 5px;
			margin-bottom: 5px;
			position: absolute;
		}

		h3 {
			font-size: 120%;
			font-family: sans-serif;
			margin-left: 100px;
			margin-top: 0;
			margin-bottom: 2px;
			color: #227
		}

		div.desc {
			margin-left: 100px;
		}

		p, div.price_line {
			margin-left: 100px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;

			form, div {
				display: inline;
			}
		}

		.price {
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
		}
	}
}